## pandas--data input and output

In [1]:
pwd

'/Users/nelly/Desktop/Python-for-Financial-Analysis-and-Algorithm/05-Pandas-with-Time-Series'

In [3]:
import pandas as pd

In [8]:
data = pd.read_csv('./time_data/walmart_stock.csv')

In [6]:
data.head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1  2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2  2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3  2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4  2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [9]:
data.to_csv('my_output',index=False)

In [10]:
ls

Datetime Index.ipynb*        Untitled1.ipynb
Rolling and Expanding.ipynb* my_output
Time Resampling.ipynb*       pandas--groupby.ipynb
Time Shifting.ipynb*         pandas--missingData.ipynb
Untitled.ipynb               time_data/

In [11]:
pd.read_csv('my_output').head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1  2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2  2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3  2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4  2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [ ]:
pd.read_excel('xxxxx',sheetname='vvv')

In [ ]:
pd.read_html('https://.....')

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('sqlite:///:memory:')

In [16]:
data.to_sql('my_table',engine)

In [17]:
sqldf = pd.read_sql('my_table',con=engine)

In [18]:
sqldf

,index,Date,Open,High,Low,Close,Volume,Adj Close
0,0,2012-01-03,59.970001,61.060001,59.869999,60.330002,12668800,52.619235
1,1,2012-01-04,60.209999,60.349998,59.470001,59.709999,9593300,52.078475
2,2,2012-01-05,59.349998,59.619999,58.369999,59.419998,12768200,51.825539
3,3,2012-01-06,59.419998,59.450001,58.869999,59.000000,8069400,51.459220
4,4,2012-01-09,59.029999,59.549999,58.919998,59.180000,6679300,51.616215
5,5,2012-01-10,59.430000,59.709999,58.980000,59.040001,6907300,51.494109
6,6,2012-01-11,59.060001,59.529999,59.040001,59.400002,6365600,51.808098
7,7,2012-01-12,59.790001,60.000000,59.400002,59.500000,7236400,51.895316
8,8,2012-01-13,59.180000,59.610001,59.009998,59.540001,7729300,51.930204
9,9,2012-01-17,59.869999,60.110001,59.520000,59.849998,8500000,52.200581
10,10,2012-01-18,59.790001,60.029999,59.650002,60.009998,5911400,52.340131
11,11,2012-01-19,59.930000,60.730000,59.750000,60.610001,9234600,52.863447
12,12,2012-01-20,60.750000,61.250000,60.669998,61.009998,10378800,53.212321
13,13,2012-01-23,60.810001,60.980000,60.509998,60.910000,7134100,53.125104
14,14,2012-01-24,60.750000,62.000000,60.750000,61.389999,7362800,53.543754
15,15,2012-01-25,61.180000,61.610001,61.040001,61.470001,5915800,53.613531
16,16,2012-01-26,61.799999,61.840000,60.770000,60.970001,7436200,53.177436
17,17,2012-01-27,60.860001,61.119999,60.540001,60.709999,6287300,52.950665
18,18,2012-01-30,60.470001,61.320000,60.349998,61.299999,7636900,53.465257
19,19,2012-01-31,61.529999,61.570000,60.580002,61.360001,9761500,53.517590
20,20,2012-02-01,61.790001,62.630001,61.790001,62.180000,12130600,54.232785
21,21,2012-02-02,62.400002,62.470001,61.820000,61.939999,6211300,54.023458
22,22,2012-02-03,62.320000,62.430000,61.700001,62.029999,7727200,54.101956
23,23,2012-02-06,61.849998,61.980000,61.700001,61.880001,5480600,53.971129
24,24,2012-02-07,61.619999,61.900002,61.619999,61.689999,6084400,53.805411
25,25,2012-02-08,61.910000,62.020000,61.230000,61.619999,7260000,53.744358
26,26,2012-02-09,61.580002,62.160000,61.580002,61.959999,6453100,54.040903
27,27,2012-02-10,61.680000,61.910000,61.380001,61.900002,5501000,53.988573
28,28,2012-02-13,62.009998,62.080002,61.730000,61.790001,4175000,53.892632
29,29,2012-02-14,61.910000,62.240002,61.790001,62.220001,5173100,54.267674
...,...,...,...,...,...,...,...,...
1228,1228,2016-11-17,69.080002,69.519997,68.120003,69.190002,23440300,68.196870
1229,1229,2016-11-18,68.930000,69.400002,68.440002,68.540001,11135300,67.556199
1230,1230,2016-11-21,68.540001,69.400002,68.419998,69.370003,8356000,68.374287
1231,1231,2016-11-22,69.730003,70.419998,69.730003,70.120003,10984000,69.113522
1232,1232,2016-11-23,70.220001,70.889999,70.180000,70.830002,7398900,69.813330
1233,1233,2016-11-25,71.110001,71.650002,70.980003,71.230003,4234400,70.207590
1234,1234,2016-11-28,70.930000,71.519997,70.800003,71.190002,7099200,70.168163
1235,1235,2016-11-29,71.379997,71.790001,71.199997,71.370003,7310100,70.345580
1236,1236,2016-11-30,70.919998,71.160004,70.169998,70.430000,9326100,69.419070
1237,1237,2016-12-01,70.250000,70.730003,70.050003,70.669998,6849800,69.655623
1238,1238,2016-12-02,70.580002,70.949997,70.449997,70.879997,6674200,69.862608
1239,1239,2016-12-05,70.900002,70.989998,69.809998,69.940002,10527900,68.936105
1240,1240,2016-12-06,70.010002,70.389999,69.500000,70.360001,7778000,69.350075
1241,1241,2016-12-07,69.930000,70.650002,69.900002,70.599998,6966200,70.084672
1242,1242,2016-12-08,70.480003,70.900002,70.320000,70.339996,6844200,69.826568
1243,1243,2016-12-09,70.269997,70.430000,69.739998,70.080002,10756700,69.568471
1244,1244,2016-12-12,70.070000,71.779999,70.019997,71.669998,9084100,71.146861
1245,1245,2016-12-13,71.669998,72.230003,71.610001,71.800003,8887500,71.275917
1246,1246,2016-12-14,71.900002,72.480003,71.180000,71.339996,8669400,70.819268
1247,1247,2016-12-15,71.220001,71.800003,71.029999,71.080002,7136300,70.561172
1248,1248,2016-12-16,71.070000,71.639999,70.599998,70.980003,17844800,70.461903
1249,1249,2016-12-19,70.839996,71.750000,70.839996,71.580002,5889300,71.057522
1250,1250,2016-12-20,71.730003,71.930000,71.510002,71.820000,6108100,71.295768
1251,1251,2016-12-21,71.660004,72.000000,71.239998,71.239998,5101000,70.720000
1252,1252,2016-12-22,71.239998,71.239998,69.209999,69.589996,12106800,69.082042
1253,1253,2016-12-23,69.430000,69.750000,69.360001,69.540001,4803900,69.032411
1254,1254,2016-12-27,69.300003,69.820000,69.250000,69.699997,4435700,69.191240
1255,1255,2016-12-28,69.940002,70.000000,69.260002,69.309998,4875700,68.804087
1256,1256,2016-12-29,69.209999,69.519997,69.120003,69.260002,4298400,68.754456
1257,1257,2016-12-30,69.120003,69.430000,68.830002,69.120003,6889500,68.615479